{% include 'base.html' %}

<body>

    <div class="hero-section">
        <div class="card" style="background-color: rgba(240, 248, 255, 0.205);border-radius: 10px; color:white">
            <H1>QR CODE generater!</H1>
            <div class="form">
                <form action="/generate_qr" method="post" class="form-group">
                    <label for="url"> ENTER URL: </label>
                    <input class="input" type="url" name="url" id="url" placeholder="Paste the url Here" required>
                    <button class="button" type="submit">
                        <span class="button-content">Generat QR Code </span>
                    </button>

                </form>
            </div>


        </div>
        <!-- Calculator UI -->
    </div>

    </div>

        {% include 'about.html' %}

    <div class="contact-us" id="contact">

        {% include 'contactus.html' %}
    </div>
</body>

</html>